<form class="form-horizontal reg-form" name="registrationForm" non-validate>
    <div class=" form-bottom">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Settings Configuration:</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ui-grid="settingsConfigGrid" ui-grid-pagination class="settingsConfigGrid"></div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-primary" ng-click="showHistory()">Show History</button>
            </div>
        </div>
    </div>
</form>