<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="tile bg-green">
            <h2 class="tile-title">Total Member</h2>
            <p>Total Member registred in the Society</p>
            <div class="tile-stat" ng-bind="memberCount">
            </div>
            <a href="app/#/member" class="bg-a">View all member</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="tile bg-purple">
            <h2 class="tile-title">Balance</h2>
            <p>Current balance socity have now</p>
            <div class="tile-stat" ng-bind="memberBalance">
            </div>
            <a href="app#/balance" class="bg-a">View details</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="tile bg-black">
            <h2 class="tile-title">Income/Expense</h2>
            <p>Total Income/Expense Society have till date</p>
            <div class="tile-stat">{{societyIncome}}/{{societyExpense}}
            </div>
            <a href="app#/expense" class="bg-a">View earning history</a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="tile bg-blue">
            <h2 class="tile-title">Loan</h2>
            <p>Total amount of <b>{{loanCount}}</b> loan(s) taken by members</p>
            <div class="tile-stat" ng-bind="loanTotal">
            </div>
            <a href="app#/loan" class="bg-a">View loan history</a>
        </div>
    </div>
</div>