<div class="admin-login">
    <div class="inner-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 society-form">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h1 class="text-primary" ng-bind="headerText"></h1>
                            </div>
                            <div class="form-top-right">
                                <i class="glyphicon glyphicon-log-in"></i>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-bottom">
                            <form role="form" action="" method="post" class="login-form" name="loginForm">
                                <div>
                                    <p class="text-danger" ng-show="isError" ng-bind="errorLoginText"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text"
                                           name="username"
                                           placeholder="Username"
                                           class="form-username form-control" required=""
                                           id="form-username" ng-model="username">
                                </div>
                                <div class="form-group">
                                    <input type="text"
                                           name="email" ng-show="actionText === 'Register'"
                                           placeholder="Email"
                                           class="form-email form-control" required=""
                                           id="form-email" ng-model="email">
                                </div>
                                <div class="form-group">
                                    <input type="password"
                                           name="password" ng-hide="actionText === 'Reset'"
                                           placeholder="Password"
                                           class="form-password form-control" required=""
                                           id="form-password" ng-model="password">
                                </div>
                                <button type="button"
                                        class="btn btn-primary"
                                        ng-click="adminLogin(loginForm)"
                                        ng-bind="actionText"></button>
                            </form>
                            <div ng-show="actionText === 'Login'">
                                Forgot password? <a href="app/#/login/reset" class="text-primary">Reset Here</a></br>
                                New User? <a href="app/#/login/register" class="text-primary">Register</a>
                            </div>
                            <div ng-show="actionText === 'Reset' || actionText === 'Register'">
                                Back to <a href="app/#/login" class="text-primary">Login page</a></br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>