<div class="home container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="tile bg-green">
                <h2 class="tile-title">Total Member</h2>
                <p>Total Member registred in the Society</p>
                <div class="tile-stat">
                    300
                </div>
                <a hrrf="#" class="bg-green-a">View all member</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="tile bg-purple">
                <h2 class="tile-title">Balance</h2>
                <p>Current balance socity have now</p>
                <div class="tile-stat">
                    23,876,550
                </div>
                <a href="#" class="bg-purple-a">View details</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="tile bg-black">
                <h2 class="tile-title">Total Earning</h2>
                <p>Total Earning Society have till date</p>
                <div class="tile-stat">
                    43,876,550
                </div>
                <a href="#" class="bg-black-a">View earning history</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="tile bg-blue">
                <h2 class="tile-title">Loan</h2>
                <p>Total amount of loan taken by members</p>
                <div class="tile-stat">
                    20,876,550
                </div>
                <a href="#" class="bg-blue-a">View loan history</a>
            </div>
        </div>
    </div>
</div>
