<nav class="navbar navbar-default navbar-fixed-top" ng-show="navBarConfig.showNavBar">
    <div class="container-fluid">
        <div class="menu dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="text-primary">Home</span>
                </li>
                <li class="header">
                    <h5>Member</h5>
                </li>
                <li class="divider"></li>
                <li>
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span class="text-primary">Add Member</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span class="text-primary">View All Member</span>
                </li>
                <li class="header">
                    <h5>Deposit</h5>
                </li>
                <li class="divider"></li>
                <li>
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="text-primary">Enter new deposit</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span class="text-primary">View deposit history</span>
                </li>
            </ul>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Society App</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <div class="profile-btn">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user profile"></span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">
                            <h5 class="text-info">Welcome User</h5>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="text-primary">User profile</span>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-log-out"></span>
                            <span class="text-primary">Logout</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-search navbar-right">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search-input" placeholder="Search member...">
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>

    </div>
</nav>