<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger" role="alert" ng-bind="error.errorMsg" ng-show="error.showErrorMsg"></div>
                <div class="filter-bar">
                    <div>
                        <button class="btn btn-primary" ng-click="toggleFilter()" ng-bind="filterText"></button>
                        <button class="btn btn-primary" ng-click="showDetails()">Show details</button>
                    </div>
                </div>
                <div ng-cloak class="member-list">
                    <div ui-grid="memberListGrid" ui-grid-selection ui-grid-pagination ui-grid-exporter class="myGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>
