
<form class="form-horizontal reg-form" name="registrationForm" non-validate>
    <div class=" form-bottom">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Information</h4>
                <div class="row btn-setting pull-right" ng-if="editable">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="register(registrationForm)" ng-bind="actionText"></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text">First name</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                    <input type="text" name="fname"
                                           class="form-control"
                                           id="fname" ng-disabled="isViewMode"
                                           required="" ng-model="person.fname">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text">Middle name</span>
                                    </div>
                                    <input type="text"
                                           class="form-control" ng-disabled="isViewMode"
                                           id="mname" ng-model="person.mname">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text">Last name</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                    <input type="text" name="lname"
                                           class="form-control"
                                           id="lname" ng-disabled="isViewMode"
                                           required="" ng-model="person.lname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text">Relationship:</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <input type="radio" name="guardianType"
                                               id="isFather" ng-disabled="isViewMode"
                                               required="" ng-model="person.guardianType" value="1" ng-click="setGuardianType(1)">
                                        <span class="form-text">Father</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <input type="radio" name="guardianType"
                                               id="isHusband" ng-disabled="isViewMode"
                                               required="" ng-model="person.guardianType" value="2" ng-click="setGuardianType(2)">
                                        <span class="form-text">Husband</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text" ng-if="person.guardianType === 1">Father's first name</span>
                                        <span class="form-text" ng-if="person.guardianType === 2">Husband's first name</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                    <input type="text"
                                           class="form-control" name="ffname"
                                           id="ffname" ng-disabled="isViewMode"
                                           required="" ng-model="person.ffname">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text" ng-if="person.guardianType === 1">Father's middle name</span>
                                        <span class="form-text" ng-if="person.guardianType === 2">Husband's middle name</span>
                                    </div>
                                    <input type="text"
                                           class="form-control" ng-disabled="isViewMode"
                                           id="fmname" ng-model="person.fmname">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text" ng-if="person.guardianType === 1">Father's last name</span>
                                        <span class="form-text" ng-if="person.guardianType === 2">Husband's last name</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                    <input type="text"
                                           class="form-control" name="flname"
                                           id="flname" ng-disabled="isViewMode"
                                           required="" ng-model="person.flname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text">Gender</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                    <select name="gender" ng-model="person.sex"
                                            class="form-control"
                                            ng-disabled="isViewMode" required=""
                                            ng-options="gender.id as gender.label for gender in genderOptions">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text">Mobile number</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           ng-disabled="isViewMode" required="" ng-model="person.phone">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="label-input">
                                    <span class="form-text">Date of birth</span>
                                    <span class="text-danger" ng-show="!isViewMode">*</span>
                                </div>
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" ng-disabled="isViewMode"
                                           uib-datepicker-popup="{{dob.format}}"
                                           ng-model="person.dob" is-open="dob.status.opened"
                                           datepicker-options="dob.dateOption" id="dob" name="dob"
                                           ng-required="true" close-text="Close" required=""/>
                                          <span class="input-group-btn">
                                            <button type="button" ng-disabled="isViewMode"
                                                    class="btn btn-default btn-datepicker"
                                                    ng-click="open()">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text">Marital Status</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                    <select name="maritalStatus" ng-model="person.maritalStatus"
                                            class="form-control"
                                            ng-disabled="isViewMode" required=""
                                            ng-options="maritalStatus.id as maritalStatus.label for maritalStatus in maritalStatuses">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-if="entity == 'person'">
                                <div class="form-group">
                                    <div class="label-input">
                                        <span class="form-text">Member Status</span>
                                        <span class="text-danger" ng-show="!isViewMode">*</span>
                                    </div>
                                    <select name="memeberStatus" ng-model="person.status"
                                            class="form-control"
                                            ng-disabled="isViewMode" required=""
                                            ng-options="status.id as status.label for status in statusOptions">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <a ng-click="openLightboxModal()">
                                <img class="profile-photo" ng-src="/file/{{person.id}}/document/{{person.profilePhotoName}}" ng-show="person.profilePhotoName">
                                <img class="profile-photo" ng-src="image/default-emp.jpg" ng-hide="person.profilePhotoName">
                            </a>
                            <input type="file" id="profilePhotoUpload" ng-disabled="isViewMode"/>
                            <button type="button"  ng-disabled="isViewMode"
                                    class="btn btn-primary loan-btn"
                                    ng-click="addEditProfilePhoto()" >{{person.profilePhotoName? "Edit": "Add"}}</button>
                            <button type="button" ng-disabled="isViewMode"
                                    class="btn btn-primary loan-btn"
                                    ng-click="deleteProfilePhoto()">Delete</button>

                        </div>
                    </div>
                </div>
                <h4>Address</h4>
                <hr/>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="label-input">
                                <span class="form-text">House/Flat No</span>
                                <span class="text-danger" ng-show="!isViewMode">*</span>
                            </div>
                            <input type="text"
                                   class="form-control" name="address1"
                                   id="address1" ng-disabled="isViewMode"
                                   required="" ng-model="address.address1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="label-input">
                                <span class="form-text">Street</span>
                                <span class="text-danger" ng-show="!isViewMode">*</span>
                            </div>
                            <input type="text"
                                   class="form-control" name="address2"
                                   id="address2" ng-disabled="isViewMode"
                                   required="" ng-model="address.address2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="label-input">
                                <span class="form-text">City</span>
                                <span class="text-danger" ng-show="!isViewMode">*</span>
                            </div>
                            <input type="text"
                                   class="form-control" name="city"
                                   id="city" ng-disabled="isViewMode"
                                   required="" ng-model="address.city">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="label-input">
                                <span class="form-text">State</span>
                                <span class="text-danger" ng-show="!isViewMode">*</span>
                            </div>
                            <input type="text" class="form-control" id="state"
                                   ng-disabled="isViewMode" name="state"
                                   required="" ng-model="address.state">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="label-input">
                                <span class="form-text">Enter pincode</span>
                                <span class="text-danger" ng-show="!isViewMode">*</span>
                            </div>
                            <input type="text"
                                   class="form-control" name="pincode"
                                   id="pincode" ng-disabled="isViewMode"
                                   required="" ng-model="address.pincode" maxlength="6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
