<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 vertical-tab">
                <tabset>
                    <tab heading="Member details">
                        <div class="row society-form">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3 class="text-primary" ng-bind="primaryHeaderText"></h3>
                                    <p class="text-info" ng-bind="secondaryHeaderText"></p>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Deposit">
                        <div class="row society-form">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3 class="text-primary">Deposit</h3>
                                    <p class="text-info"></p>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>