<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 vertical-tab">
                <tabset>
                    <tab heading="Member details">
                        <div class="row society-form">
                            <div class="form-top">
                                <div>
                                    <h3 class="text-primary" ng-bind="primaryHeaderText"></h3>
                                    <p class="text-info" ng-bind="secondaryHeaderText"></p>
                                </div>
                                <div>
                                    <p class="text-danger" ng-bind="formValidationInfoText"></p>
                                </div>
                                <div member-details member="member"
                                     address="address"
                                     is-view-mode="isViewMode"
                                     action-text="actionText"
                                     click-handler="register(form)"></div>
                            </div>

                        </div>
                    </tab>
                    <tab heading="Deposit" disable="mode == 1" select="resetDepositTab()">
                        <div class="row society-form">
                            <div class="form-top">
                                <div member-deposit deposit="memberDeposit"
                                     save-handler="saveNewDeposit(transaction)"></div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Loan" disable="mode == 1">
                        <div class="row society-form">
                            <div class="form-top">
                                <div>
                                    <h3 class="text-primary">Loan</h3>
                                    <p class="text-info"></p>
                                </div>
                                <div member-loan></div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Documents">
                        <div class="row society-form">
                            <div class="form-top">
                                <div>
                                    <h3 class="text-primary">Documents</h3>
                                    <p class="text-info"></p>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Transaction history" select="getTransactionHistory()">
                        <div class="row society-form">
                            <div class="form-top">
                                <div transaction-history="transactionHistory" member-id="member.id"
                                     click-handler="getTransactionHistory(id, startDate, endDate)">
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>