<div class="panel panel-primary">
    <div class="alert alert-success" role="alert" ng-bind="successMsg" ng-show="showSuccessMsg"></div>
    <div class="alert alert-danger" role="alert" ng-bind="errorMsg" ng-show="showErrorMsg"></div>
    <div class="panel-heading">
        <h4>Account Information</h4>
        <div class="row btn-setting pull-right">
            <button type="button"
                    class="btn btn-primary"
                    ng-click="configureDeposit()" ng-bind="actionText"></button>
            <button type="button"
                    class="btn btn-primary"
                    ng-click="isCollapsed = !isCollapsed">New deposit</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Account Balance:</label>
                    <span>&#8377;</span>
                    <input type="text"
                           class="form-control" name="deposit"
                           id="deposit" ng-disabled="deposit.isViewMode"
                           required="" ng-model="deposit.deposit">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Share value:</label>
                    <span>&#8377;</span>
                    <input type="text"
                           class="form-control" name="shareValue"
                           id="shareValue" ng-disabled="deposit.isViewMode"
                           required="" ng-model="deposit.shareValue">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Installment frequency:</label>
                    <select name="installmentFrequency" id="installmentFrequency" ng-model="deposit.installmentFreq"
                            class="form-control"
                            ng-disabled="deposit.isViewMode"
                            required=""
                            ng-options="depositOption.id as depositOption.label for depositOption in depositFrequencyOptions">
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Installment value:</label>
                    <span>&#8377;</span>
                    <input type="text"
                           class="form-control" name="installmentValue"
                           id="installmentValue" ng-disabled="deposit.isViewMode"
                           required="" ng-model="deposit.installmentValue">
                </div>
            </div>
        </div>
    </div>
</div>
</br>
</br>
<div ng-hide="isCollapsed">
    <form class="form-horizontal reg-form" name="depositForm" non-validate>
        <div class="form-bottom">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>New Deposit Information</h4>
                    <div class="row btn-setting pull-right">
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="saveNewDeposit(depositForm)">Save</button>
                    </div>
                </div>
                <div class="panel-body">
                  <div class="alert alert-danger" role="alert" ng-bind="error.errorText" ng-show="error.isError">
                  </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="label-input">
                                    <span class="form-text">Deposit amount</span>
                                    <span class="text-danger">*</span>
                                </div>
                                <input type="text" name="damount"
                                       class="form-control"
                                       id="amount"
                                       required="" ng-model="transaction.depositAmount">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="label-input">
                                    <span class="form-text">Penalty amount</span>
                                </div>
                                <input type="text" name="pamount"
                                       class="form-control"
                                       id="pamount" ng-model="transaction.penaltyAmount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="label-input">
                                    <span class="form-text">Type</span>
                                    <span class="text-danger" ng-show="!deposit.isViewMode">*</span>
                                </div>
                                <select name="gender" ng-model="transaction.type"
                                        class="form-control"
                                         required="">
                                    <option value="1">Saving</option>
                                    <option value="2">Loan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="label-input">
                                    <span class="form-text">Remarks</span>
                                    <span class="text-danger">*</span>
                                </div>
                                <input type="text" name="remarks"
                                       class="form-control"
                                       id="remarks"
                                       required="" ng-model="transaction.remarks">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
