<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="action-bar">
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-primary">View detail</button>
                </div>
                <div ng-cloak class="member-list">
                    <div class="list-header">
                        <div ng-repeat="labels in header" ng-class="{'header-img':labels.type === 'img'}">
                            <h4 ng-if="labels.type !== 'img'" ng-bind="labels.label"></h4>
                        </div>
                    </div>
                    <div ng-repeat="person in people" ng-click="activeActions()" class="member-inner-list">
                        <img alt="{{::person.name}}" ng-src="{{::person.img}}" class="society-avatar"/>
                        <p ng-bind="::person.name"></p>
                        <p ng-bind="::person.address"></p>
                        <p ng-bind="::person.deposit"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>