
<form class="form-horizontal reg-form" name="registrationForm" non-validate>

<div class=" form-bottom">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Loan Availed:</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="label-input">
                        <span class="form-text">ID</span>
                        <span class="text-danger" ng-show="!isViewMode">*</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="label-input">
                        <span class="form-text">Deposit</span>
                        <span class="text-danger" ng-show="!isViewMode">*</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="label-input">
                        <span class="form-text">Penalty</span>
                        <span class="text-danger" ng-show="!isViewMode">*</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="label-input">
                        <span class="form-text">Date</span>
                        <span class="text-danger" ng-show="!isViewMode">*</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="label-input">
                        <span class="form-text">Remarks</span>
                        <span class="text-danger" ng-show="!isViewMode">*</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="label-input">
                        <button type="button" class="btn btn-primary" ng-click="showDetails(person.id)">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</form>