<form class="form-horizontal reg-form" name="registrationForm" non-validate>
    <div class=" form-bottom">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Loan Availed:</h4>
                <div>
                    <button class="btn btn-primary" ng-click="toggleFilter()" ng-bind="filterText"></button>
                    <button class="btn btn-primary" ng-click="showDetails()">Show details</button>
                </div>
            </div>
            <div ng-cloak class="member-list">
                <div ui-grid="memberLoansGrid" ui-grid-selection ui-grid-pagination class="myGrid"></div>
            </div>
        </div>
    </div>
</form>