<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Transaction history for last 2 month</h4>
        <div ng-class="{'glyphicon-minus':!isTnxHistoryCollapsed,'glyphicon-plus':isTnxHistoryCollapsed}" class="pull-right icon glyphicon" ng-click="isTnxHistoryCollapsed = !isTnxHistoryCollapsed"></div>
    </div>
    <div class="panel-body" collapse="isTnxHistoryCollapsed">
        <div class="row">
            <div ui-grid="transactionHistoryGrid" ui-grid-pagination class="transactionGrid"></div>
        </div>
    </div>
</div>